<div class="group-chat-container">
  <div class="sidebar">
    <button (click)="goToChat()">Chat Individual</button>
    <button (click)="createGroup()">Criar Novo Grupo</button>
    <button (click)="logout()">Sair</button>
  </div>
  <div class="chat-window">
    <div class="messages">
      <div *ngFor="let msg of groupMessages" class="message">
        <div class="message-text">{{ msg }}</div>
        <!-- <div class="message-timestamp">{{ msg.timestamp | date:'shortTime' }}</div> -->
      </div>
    </div>
    <div class="input-container">
      <input type="text" [(ngModel)]="groupMessage" placeholder="Digite sua mensagem para o grupo..." />
      <button (click)="sendGroupMessage()" class="btn">Enviar</button>
    </div>
  </div>
</div>
