.login-container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.registre {
  border: none;
  margin-top: 20px;
  margin-left: auto;
  text-align: center;
  color: blue;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
